
html,
body {
    background-color: rgb(255, 250, 240);
}

@media only screen and (max-width: 700px){
html, body {
    margin: 0;
    padding:0;
}
    .desktop {
        display:none;
    }

    .header_mobile{
        height: 64px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        background-color: whitesmoke;
        z-index: 10;
    }

    .header_mobile img {
        float: left;
        align-content: center;
        width: 15%;
        padding: 5%;
        height: 32px;
    }

    .banner_mobile {
        width: 100%;
        position: relative;
        top: 64px;
    }

    .banner_mobile img {
        width: 100%;
        height: auto;
    }

    .learn_mobile {
        padding: 56px 16px 32px 16px;
        background-color: lightgray;
    }

    .learn_mobile h1 {
        text-align: center;      
        font-size: 40px;
    }

    .learn_mobile p {
        text-align: center;
    }

    .learn_mobile button {
        text-align: center;
        width: 100%;
        background-color: whitesmoke;
    }

    .row:after {
        content:"";
        display: table;
        clear: both;
     }


     /* ORIENTATION MOBILE */

     .orientation_mobile {
         padding: 16px 16px 32px 16px;
     }

     .cell_mobile .parxx {
         padding: 0px 16px 32px 16px;
     }

     .cell_mobile img{
         width: 100%;
         height: auto   
     }

     .cell_mobile h2,
     .cell_mobile a,
     .cell_mobile p {
         text-align: left;
     }
     
     /* START LEARNING */
     .start_learning_mobile {
         padding: 0px 16px 14px 16px;
     }

     .start_learning_mobile h1 {
         text-align: center;
         font-size: 40px;
     }

     .cell_mobile_two button{
         width: 100%;
         text-align: center;
     }

     .cell_mobile_two {
        padding-bottom: 18px;
     }

     .thesis {
         padding-bottom: 24px;
     }

     .thesis h1 {
        text-align: center;
        font-size: 40px;
        padding-bottom: 16px;
     }

     .thesis video {
         width: 100%;
     }

     .footer p {
         padding: 16px;
         text-align: center;
     }
}



/*HTML COMPLETE ELEMENT*/

@media only screen and (min-width: 700px){

    html, body {
       margin: 0;
       padding: 0;
    }
   
   .header_mobile{
       display:none;
   }
   
    /* THE LOGO HEADER IN DESKTOP*/
   
    header{
       height: 64px;
       background-color: whitesmoke;
       position: fixed;
       width: 100%;
       top: 0;
       z-index: 10;
    }
   
   
   
    .logo_header {
       float: left;
       display: flex;
       color: black;
       text-decoration: none;
       vertical-align: middle;
       position: relative;
       top: -12px;
       left: 6px;
       font-size: 1em;
    }
   
    img {
       float: left;
    }
   
    #colmar {
       float: left;
    }
   
    #academy {
       float: right;
       font-weight: lighter;
    }
   
   
   
    /* NAVBAR FROM DESKTOP */
    nav {
       float: right;
       display: inline-block;
       padding: 16px 24px;
    } 
   
    a {
       padding: 8px;
       color: gray;
       /*text-decoration: none;*/
    }
   
   
   
    /*ARTICLE ONE*/
   
   
    .article_one{
       background-color: lightgray;
       box-sizing: border-box;
       width: 100%;
       position: relative;
       text-align: left;
       float: left;
       height: auto;
       font-size: 24px;
       top: 42px;
       z-index: 1;
    }
   
    section div {
       float: left;
    }
   
   
    .column_6 {
       width: 59%;
       height: 100%;
       display: block;
    }
   
    .column_4 {
       width: 40%;
    }
    .row:after {
       content:"";
       display: table;
       clear: both;
    }
   
    .img_art_one{
       max-width: 100%;
       padding: 32px 24px;
    }
   
   .text_art_one {
       padding: 9%;
       margin: 24px;
       font-size: 2vw;
   }
   
   
   
   /*ARTICLE TWO*/
   
   .article_two {
       box-sizing: border-box;
       width: 100%;
       position: relative;
       top: auto;
       text-align: left;
       float: left;
       font-size: 24px;
   }
   
   
   .img_art_two {
       max-width: 100%;
       position: relative;
       top: 48px;
       padding-top: 32px;
       padding-left: 24px;
       padding-bottom: 64px;
       padding-right: 10.5px;
   }
   
   
   .text_down_art_two {
       position: relative;
       padding-left: 24px;
       padding-bottom: 16px;
   }
   
   .text_down_art_two h2 {
       padding-bottom: 24px;
   }
   
   cite{
       font-style: italic;
   }
   
   
   .three_rows {
       position: relative;
       vertical-align: middle;
       padding: 2%;
       margin: 24px;
       float: left;
       box-sizing: border-box;
       width: 100%;
       justify-content: center;
       height: auto;
   }
   
   .img_35 {
       width: 35%;
       padding: 16px;
   }
   
   .img_35 img{
       max-width: 100%;
       height: auto;
   }
   
   .first_row {
       position: relative;
       top: 24px;
       padding: 8px;
       display: inline-block;
   }
   
   .second_row,
   .third_row {
       padding: 8px;
       display: inline-block;
       top: 0px;
   }
   
   .third_row {
       background-color: lightgray;
   }
   
   .orientation {
       float: left;
   }
   
   /* ARTICLE THREE */
   
   .column_33 {
       width: 33%;
       height: auto;
       display: block;
       float: left;
       box-sizing: border-box;
       position: relative;
       top: auto;
       text-align: left;
       background-color: transparent;
       z-index: 2;
   }
   
   .cell_33 {
       /*padding: 32px;*/
       position: relative;
       top: auto;
   
   }
   
   
   .article_three img {
       width: 100%;
       /*border-bottom: 1.5px solid gray;*/
   }
   
   
   /*.start_learning {
       padding-top: 32px;
       padding-bottom: 32px;
       text-align: center;
       align-items: center;
       justify-content: center;
       display: flex;
       width: 100%;
   }
   */
   
   .article_three {
       background-color: lightgray;
       box-sizing: border-box;
       width: 100%;
       position: relative;
       text-align: left;
       float: left;
       height: auto;
       font-size: 24px;
       z-index: 2;
   }
   
   .section {
       background-color: gray;
       top: 0px;
       z-index: 2;
   }
   
   
   .cell_2_33 {
       padding: 16px 32px 32px 32px;
   }
   
   .cell_2_33 .parx {
       border: 1px solid gray;
       padding: 8px 8px 16px 8px;
       font-size: 16px;
       background-color: white;
       z-index: 3;
   }
   
   .parx h6 {
       font-weight: lighter;
       text-transform: uppercase;
   }
   
   .parx h4,
   .parx h6,
   .parx p {
       margin: 8px;
   }
   
   .parx{
       display: flex;
   }
   
   
   /* LEARN SOMETHING */
   .learn h1{
       text-align: center;
       width: 100%;
       font-size: 40px;
   }
   
   .learn {
       padding: 8px;
       background-color: lightgray;
   }
   
   
   
   
   /* ARTICLE FOUR */
   
   .article_four {
       box-sizing: border-box;
       width: 100%;
       position: relative;
       top: auto;
       text-align: left;
       float: left;
       font-size: 24px;
   }
   
   .column_6 video {
       max-width: 100%;
       position: relative;
       top:0px;
       padding-top: 32px;
       padding-left: 24px;
       padding-bottom: 64px;
       padding-right: 16px;
       margin-right: 8px;
   }
   
   .two_rows {
       position: relative;
       vertical-align: middle;
       padding: 16px;
       margin: 8px;
       float: left;
       box-sizing: border-box;
       width: 100%;
       justify-content: center;
       height: auto;
   }
   
   
   .firstt {
       position: relative;
       top: 8px;
       padding: 8px;
       display: inline-block;
       background-color: lightgray;
   }
   
   .secondd {
       padding: 8px;
       display: inline-block;
       top: 0px;
   }
   
   /*  FOOTER */
   
   .footer {
       padding: 16px 24px;
       border-top: 1px solid gray;
       display: inline;
   }
   
   #oner {
       padding-left: 24px;
       float: left;
   }
   
   #twor {
       float: right;
       padding-right: 24px;
   }
   

   button {
       width: 100%;
       text-align: center;
   }

   .mobile {
       display: none;
   }

   }