
/*HTML COMPLETE ELEMENT*/
html, body {
    margin: 0;
    padding: 0;
}



/* THE LOGO HEADER IN DESKTOP*/

header{
    height: 64px;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}



.logo_header {
    float: left;
    display: flex;
    color: black;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    top: -12px;
    left: 6px;
    font-size: 1em;
}

img {
    float: left;
}

#colmar {
    float: left;
}

#academy {
    float: right;
    font-weight: lighter;
}



/* NAVBAR FROM DESKTOP */
nav {
    float: right;
    display: inline-block;
    padding: 16px 24px;
}

a {
    padding: 8px;
}



/*ARTICLE ONE*/

section {
    position: relative;
    top: 42px;
}

.article_one{
    background-color: lightgray;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    top: 22px;
    text-align: left;
    float: left;
    height: auto;
    font-size: 24px;
}

.img_art_one{
    max-width: 60%;
    padding: 32px 24px;
}

.text_art_one {
    position: relative;
    vertical-align: middle;
    padding: 9% 24px;
    font-size: 2vw;
}